{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="container card" >
    <h1 class="mt-3 mx-3" >Join Today</h1>
    <hr style="border: 1px solid grey;">
    <form action="" method="post" class="m-3">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-outline-primary">Sign Up</button>
    </form>
    <hr style="border: 1px solid grey;">
    <p class="mx-3">Already have an account?  <a href="{% url 'login' %}">Sign In </a>  </p>
</div>
{% endblock content %}
    